<div>
    <app-button symbol="AC" (result)="operation($event)"></app-button>
    <app-button symbol="+/-" (result)="operation($event)"></app-button>
    <app-button symbol="(" (result)="operation($event)"></app-button>
    <app-button symbol=")" (result)="operation($event)"></app-button>
</div>
<div>
    <app-button symbol="7" (result)="operation($event)"></app-button>
    <app-button symbol="8" (result)="operation($event)"></app-button>
    <app-button symbol="9" (result)="operation($event)"></app-button>
    <app-button symbol="/" (result)="operation($event)"></app-button>
</div>
<div>
    <app-button symbol="4" (result)="operation($event)"></app-button>
    <app-button symbol="5" (result)="operation($event)"></app-button>
    <app-button symbol="6" (result)="operation($event)"></app-button>
    <app-button symbol="*" (result)="operation($event)"></app-button>
</div>
<div>
    <app-button symbol="1" (result)="operation($event)"></app-button>
    <app-button symbol="2" (result)="operation($event)"></app-button>
    <app-button symbol="3" (result)="operation($event)"></app-button>
    <app-button symbol="-" (result)="operation($event)"></app-button>
</div>
<div>
    <app-button symbol="0" (result)="operation($event)"></app-button>
    <app-button symbol="." (result)="operation($event)"></app-button>
    <app-button symbol="=" (result)="operation($event)"></app-button>
    <app-button symbol="+" (result)="operation($event)"></app-button>
</div>